<section class="bg-zinc-900 p-20 rounded-xl my-4
">
  <h2 class="text-5xl font-bold my-5">About us</h2>
  <p class="text-zinc-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi cupiditate repellat, officia illum aliquid temporibus, fuga quasi corporis vel eveniet dolores delectus nam ipsum laborum assumenda consequatur corrupti nulla iste dolor. Fugit facere maiores atque voluptatibus. Dicta ipsam assumenda suscipit provident quisquam ipsa magnam laboriosam. Dolores porro dignissimos ipsam ea?
  </p>

</section>